*{box-sizing:border-box;}
body{
  background: white;
}
.ranbow {
   height:200px;
   overflow: hidden;
}
.ranbow div{
  overflow:hidden;
}
.ranbow >div{
    width:400px;
    height:400px;
  background: red;
  border-radius: 50%;
}
.ranbow >div>div{
  
  background: hsl(60,80%,50%);
  margin:10px;
  height:380px;
  border-radius: 50%;
}
.ranbow >div>div>div{
 
  background: hsl(120,80%,50%);
  margin:10px;
  height:360px;
  border-radius: 50%;
}
.ranbow >div>div>div>div{
 
  background: hsl(180,80%,50%);
  margin:10px;
  height:340px;
  border-radius: 50%;
}
.ranbow >div>div>div>div>div{

  background: hsl(240,80%,50%);
  margin:10px;
  height:320px;
  border-radius: 50%;
}
.ranbow >div>div>div>div>div>div{

  background: hsl(390,80%,50%);
  margin:10px;
  height:300px;
  border-radius: 50%;
}
.ranbow >div>div>div>div>div>div>div{

  background: hsl(320,80%,50%);
  margin:10px;
  height:280px;
  border-radius: 50%;
}
.ranbow >div>div>div>div>div>div>div>div{
 
  background: hsl(320,80%,100%);
  margin:10px;
  height:260px;
  border-radius: 50%;
}